POSTGRES_DB=cobertura_db
POSTGRES_USER=cobertura_user
POSTGRES_PASSWORD=cobertura_pass
DATABASE_URL=postgresql+psycopg2://cobertura_user:cobertura_pass@db:5432/cobertura_db
SECRET_KEY=cambiar_esta_clave_en_produccion
ACCESS_TOKEN_EXPIRE_MINUTES=120
VITE_API_URL=http://localhost:8000
